<%= form_with model: [:user, @quiz], local: true do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id,
                            Category.all,
                            :id,
                            :name,
                            { selected: @quiz.category&.id },
                            { class: 'form-control' }
    %>
  </div>
  <div class="form-group">
    <%= f.label :image, "画像(任意)" %>
    <%= f.file_field :image %>
  </div>
  <% if @quiz.image.present? %>
    <%= image_tag(@quiz.image.small.url)%>
  <% end %>
  <div class="form-group">
   <%= f.label :answers %>
   <%= f.fields_for :answers do |answer| %>
      <div class="field">
        <%= render 'answer_fields', f: answer %>
      </div>
    <%- end %>
    <div class="links">
      <%= link_to_add_association '答えを追加', f, :answers %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit '送信', class: 'btn btn-primary' %>
  </div>
<% end %>
