<%= form_with model: [:user, @quiz], local: true do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id,
                            Category.all,
                            :id,
                            :name,
                            { selected: @quiz.category&.id },
                            { class: 'form-control' }
    %>
  </div>
  <div class="form-group">
    <%= f.label :image, "画像(任意)" %>
    <%= f.file_field :image %>
  </div>
  <% if @quiz.image.present? %>
    <%= image_tag(@quiz.image.small.url)%>
  <% end %>
  <%= f.fields_for :answers do |ff| %>
    <div id="answer-field">
      <div class="form-group">
        <%= ff.label :content %>
        <%= ff.text_field :content, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <a href="#">答えを追加する</a>
  <div class="form-group">
    <%= f.submit '送信', class: 'btn btn-primary' %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      $('.select2').select2();
    });
  </script>
<% end %>